<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.sqliteprovider.demo"
  android:versionCode="1"
  android:versionName="1.0" >

  <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="17" />

  <application
    android:name=".NovodaApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
      android:name=".simple.ui.MainActivity"
      android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".simple.ui.ViewAllFireworksActivity"
      android:label="@string/activity_label_all_fireworks" />
    <activity
      android:name=".simple.ui.AddFireworkActivity"
      android:label="@string/activity_label_add_new_firework" />
    <activity
      android:name=".simple.ui.FindFireworkWithPkActivity"
      android:label="@string/activity_label_find_firework" />
    <activity
      android:name=".simple.ui.FireworkActivity"
      android:label="@string/activity_label_firework" />
    <activity
      android:name=".simple.ui.FindFireworksFromOneShopActivity"
      android:label="@string/activity_label_find_firework_from_shop" />
    <activity
      android:name=".simple.ui.ViewShopActivity"
      android:label="@string/activity_label_view_shop" />
    <activity
      android:name=".simple.ui.WellStockedShopActivity"
      android:label="@string/activity_label_grouped_by_shop_id" />
    <activity
      android:name=".simple.ui.FindThreeFireworksActivity"
      android:label="@string/activity_label_limit" />
    <activity
      android:name=".simple.ui.FindDistinctFireworksActivity"
      android:label="@string/activity_label_distinct_fireworks" />

    <provider
      android:name=".simple.provider.FireworkProvider"
      android:authorities="com.novoda.demo"
      android:exported="false" />
  </application>

</manifest>
