project
libs
target/
lib_managed/
src_managed/
project/boot/
bin/
gen/
*.class
*.apk
tmp/
.redcar/
.project
.classpath
.settings
.idea/
.gradle
tests/tmp
local.properties
*~
*.iml
*.iws
*.ipr
.externalToolBuilders
maven-eclipse.xml
*.DS_Store
/lint-results.xml