<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.sqliteprovider.demo"
  android:versionCode="1"
  android:versionName="1.0">

  <application
    android:name=".NovodaApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name=".ui.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.ViewAllFireworksActivity"
      android:label="@string/activity_label_all_fireworks" />
    <activity
      android:name=".ui.AddFireworkActivity"
      android:label="@string/activity_label_add_new_firework" />
    <activity
      android:name=".ui.AddBulkFireworksActivity"
      android:label="@string/activity_label_add_bulk_fireworks" />
    <activity
      android:name=".ui.AddBulkYieldFireworksActivity"
      android:label="@string/activity_label_add_bulk_yield_fireworks" />
    <activity
      android:name=".ui.FindFireworkWithPkActivity"
      android:label="@string/activity_label_find_firework" />
    <activity
      android:name=".ui.FireworkActivity"
      android:label="@string/activity_label_firework" />
    <activity
      android:name=".ui.FindFireworksFromOneShopActivity"
      android:label="@string/activity_label_find_firework_from_shop" />
    <activity
      android:name=".ui.ViewShopActivity"
      android:label="@string/activity_label_view_shop" />
    <activity
      android:name=".ui.WellStockedShopActivity"
      android:label="@string/activity_label_grouped_by_shop_id" />
    <activity
      android:name=".ui.FindThreeFireworksActivity"
      android:label="@string/activity_label_limit" />
    <activity
      android:name=".ui.FindDistinctFireworksActivity"
      android:label="@string/activity_label_distinct_fireworks" />

    <provider
      android:name=".provider.FireworkProvider"
      android:authorities="com.novoda.demo"
      android:exported="false" />
  </application>

</manifest>
