<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="novoda.lib.sqliteprovider.tests"
  android:versionCode="1"
  android:versionName="1.0" >


  <application android:allowBackup="false" >
    <uses-library android:name="android.test.runner" />
    <!--
		<provider android:authorities="novoda.lib.sqliteprovider.provider.sqliteprovider"
			android:name="novoda.lib.sqliteprovider.provider.SQLiteProvider" />
    -->

    <provider
      android:name="novoda.lib.sqliteprovider.testproviders.TestProvider"
      android:authorities="novoda.lib.sqliteprovider.test"
      android:exported="false" />
  </application>

</manifest>